<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info">
        <div class="container">
            <img src="~/Uploads/1.png" height="40" width="40" />
            @Html.ActionLink("PlayOn24 Online Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Order", "Index", "Orders", new { area = "" }, new { @class = "nav-link text-white" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <main class="container-fluid" style="min-height:calc(100vh - 120px)">
            @RenderBody()
        </main>
    </div>
    <footer class="container-fluid text-center bg-info text-white">
        <p>@DateTime.Today.ToString("MMM dd, yyyy") &copy; All Right Reserved By PlayOn24 (Md.Iquball Hossain)</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
