@model EmployeeManagement.ViewModel.EmployeeEditModel
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-8">
        <h2>Edit Employee</h2>
        <div id="msg"></div>
        @using (Ajax.BeginForm("Edit", "Employee", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnSuccess = "onSuccess", OnFailure = "onFail" }, new { id = "frm" }))
        {
            @Html.HiddenFor(c => c.EmployeeId)
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.EmployeeName, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Html.TextBoxFor(c => c.EmployeeName, new { @class = "form-control " })
                    @Html.ValidationMessageFor(c => c.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.BirthDate, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control date" })
                    @Html.ValidationMessageFor(c => c.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.AppliedFor, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Html.DropDownListFor(c => c.AppliedFor, ViewBag.PostList as IEnumerable<SelectListItem>, new { @class = "form-select" })
                    @Html.ValidationMessageFor(c => c.AppliedFor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.ExpectedSalary, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Html.TextBoxFor(c => c.ExpectedSalary, new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(c => c.ExpectedSalary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.Picture, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    <input type="file" id="pic" class="form-control" />
                    @Html.HiddenFor(c => c.Picture, new { value = "" })
                    @Html.ValidationMessageFor(c => c.Picture, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.WorkFromHome, new { @class = "col-form-label col-2" })
                <div class="col-10">
                    @Html.CheckBoxFor(c => c.WorkFromHome, new { @class = "mt-2" })
                </div>
            </div>
            <div id="Skills" class="row mb-1">
                @Html.Action("AddQuationToEditForm", Model)
            </div>
            <div>&nbsp;</div>
            <div class="w-100 mb-1">
                <div class="d-flex justify-content-end me-2">
                    <button type="button" id="add" class="btn btn-warning">Add Educational Qualifications</button>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="w-100">
                <div class="d-flex justify-content-end me-2">
                    <button type="submit" class="btn btn-success">Save to database</button>
                </div>
                <div>&nbsp;</div>
            </div>
        }
    </div>
    <div class="col-4">
        <h3>&nbsp;</h3>
        <img src="~/Pictures/@Model.Picture" class="img-thumbnail" style="width:200px" />
    </div>
    <div class="col-12 d-flex justify-content-center">
        @Html.ActionLink("Back to list", "Index", new { }, new { @class = "btn btn-info" })
    </div>
    <div>&nbsp;</div>
</div>
@section styles
{
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        });
        $(".date").datepicker({
            format: "yyyy-mm-dd"
        });
        $("#add").click(() => {
            $.ajax({
                type: "POST",
                url: "/Employee/AddQuationToForm",
                cache: false,
                data: $("#frm").serialize(),
                success: r => {
                    $("#Skills").html(r);
                    $("form").removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");
                }
            });
        });
        $("#pic").change(() => {
            if (document.getElementById("pic").files.length) {
                $("#Picture").val(document.getElementById("pic").files[0].name);
            }
        });
        $(document).on("click", "button.del", function () {
            var i = $(this).data("index");
            $.ajax({
                type: "POST",
                url: "/Employee/AddMore?index="+i,
                cache: false,
                data: $("#frm").serialize(),
                success: r => {
                    $("#Skills").html(r);
                    $("form").removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");
                }
            });
        })
        function onSuccess(r) {
            if (r) {
                console.log(r);
                var formData = new FormData();
                if (document.getElementById("pic").files.length > 0) {
                    formData.append("Picture", document.getElementById("pic").files[0]);
                    $.ajax({
                        type: "POST",
                        url: "/Employee/UploadImage/"+r.id,
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: ss => {
                            console.log(ss);
                            alert("Data saved");
                        },
                        error: err1 => {
                            console.log(err1);
                        }
                    });
                }
            }
        }
        function onFail(err) {
        }
    </script>
}



